# Telegram Bot Credentials
TELEGRAM_BOT_TOKEN=8974369348:AAGU_VuWfVvNwnNhILbBEtGQ7pp_RMVq4bg
TELEGRAM_CHAT_ID=

# Speed Queen Insights Credentials
SQ_EMAIL=panhcharoth@hotmail.com
SQ_PASSWORD=Roth@017986356

# Monitoring Configuration
CHECK_INTERVAL_SECONDS=60
TRACKED_MACHINE_SIDS=1517969
